//mixix banner
@mixin banner {
    position:relative;
    color:#000;
    height:95vh;
    width:100%;
}

.banner-content {
        position:absolute;
        top:200px;
        margin-left:150px;
}

@mixin heading2 {
        font-weight:bold;
        color: #000;
        font-size: $sectionHeading2;
        text-align:left;
        padding-top:-10px;
        margin-left:20%;
        margin-bottom:0px;
        @include mQ(3000px, 1200px){ //Media query larger screen
        font-size:78px;
    }
}


//mixin if statements 
@mixin mQ ($arg...){
    @if length($arg) == 1{
       @media screen and (max-width: nth($arg, 1)){
        @content;  
    }
}
    @if length($arg) == 2{
       @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)){
         @content;  
    }
}
}

span {  
        line-height:140px;
        font-size:$smallSub;
        display:block;
        font-weight:normal;
        @include mQ(3000px, 1200px){ //Media query larger screen
        font-size:33px;
       }
    }
span.title {
        font-size:$bannerHeadings;
        font-weight: bold;
        margin-bottom:-20px;
        letter-spacing:-10px;
    }

//clear Fix
@mixin clearFix {
        &:after {
        content:"";
        display:block;
        clear:both;
    }
}

//mixin Grid
@mixin grid ($cols, $mgn){
    float:left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width:((100% - (($cols - 1) * $mgn)) / $cols );
    &:nth-child(#{$cols}n){
    margin-right:0;
    }
}
//End mixin Grid

@mixin profile {
    max-width:50%;
    float:left;
ul {
    padding:0px;
}    
li {
    width:100%;
    padding:0px;
    font-size:18px;
    }
}

    
