//variables
$font-stack: Helvetic, sans-serif;
$primary-color:#FDFCFC;
$blue: #000;
//h1 heading
$sectionHeadings:64px;
//All h2 headings
$sectionHeading2: 44px;
$grey: #FF5757;
$bannerHeadings: 180px;
$smallSub: 35px;
