body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  max-width: 800px;
  margin: 0 auto; }

#container {
  height: 100%;
  margin: 0 auto; }

/*------------------Header------------------*/
.header {
  height: 100vh; }
  .header--left-half {
    background-color: #ff5050;
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%; }
  .header--right-half {
    background-color: #6699ff;
    position: absolute;
    right: 0px;
    width: 50%;
    height: 100%; }
  .header--top-title-section {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header--pills-img-top {
    width: 400px;
    height: 230px;
    position: absolute; }
  .header--vr-headset-img-top {
    width: 280px;
    height: 230px;
    position: absolute; }
  .header--pill-img-div {
    display: block;
    margin-top: 50%; }
  .header--vr-img-div {
    width: 50%;
    margin: 0 auto;
    margin-top: 50%; }

.h1-top-header {
  font-size: 60px;
  font-family: 'Anton', sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: -19px;
  line-height: 70px; }
  .h1-top-header--colour-pill {
    color: #55010C; }
  .h1-top-header--colour-vr {
    color: #060155; }

/*------------------Question------------------*/
.question {
  font-size: 23px;
  color: black;
  margin: 250px 0 250px 0; }

h3 {
  font-size: 25px;
  color: #000; }

.grey {
  color: #474747;
  font-weight: 300; }

/*------------------Introduction------------------*/
.introduction {
  font-size: 23px;
  color: black;
  margin: 100px 0px 15px; }

/*------------------Paragraphs------------------*/
.paragraphs {
  max-width: 750px;
  margin: 0 auto;
  margin: 0 0 25px 0;
  font-family: 'Amiri', serif;
  font-style: normal;
  line-height: 1.6;
  font-size: 23px;
  letter-spacing: -.003em;
  color: #484848;
  font-weight: 100; }

/*------------------Title sections - The Opioid Crisis and Virtual Reality------------------*/
.title-sections {
  max-width: 800px;
  margin: 0 auto;
  padding: 30% 0 30% 0; }

.heading-left {
  float: left; }

.img-right {
  float: right;
  margin-right: 20%;
  margin-top: -5%; }

.img-size {
  width: 120px;
  height: 130px;
  display: inline; }

.h2-title-heading {
  font-size: 50px;
  margin: 160px 0 160px 0;
  font-family: 'Anton', sans-serif;
  color: #55010C;
  display: inline; }
  .h2-title-heading--colour-pill {
    color: #55010C; }
  .h2-title-heading--colour-vr {
    color: #060155; }

/*------------------Subheading------------------*/
.h5-opioid-subheadings {
  font-size: 22px;
  color: #ff5050;
  margin: 10px 0px 10px; }

/*------------------Small quotes Opioids------------------*/
.small-quotes {
  padding: 0 1em;
  margin: 30% 0 30% 0; }

.painkiller {
  font-size: 30px; }

.indent {
  text-indent: -36px; }

.quote-and-image-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 30% 0 30% 0;
  margin-bottom: 20%; }

.heading-opioid {
  float: left; }

.pill-box-img {
  width: 240px;
  margin: 10% 0 10% 0; }

.inline {
  display: inline; }

q:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 5px;
  color: #ff5050;
  font-size: 1.5em; }

q:after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 5px;
  color: #ff5050;
  font-size: 1.5em; }

q {
  font-size: 40px;
  padding: 10px 20px;
  color: #420111; }

/*------------------Block Quotes------------------*/
.blockquote-money {
  padding: 0 1em;
  margin: 30% 0 30% 0; }

.money-quote {
  font-size: 30px;
  line-height: 43px; }

blockquote {
  border-left: 8px solid #420111;
  line-height: 1.6;
  position: relative;
  padding: 1.2em 30px 1.2em 75px; }

span {
  line-height: 50px; }

.cite-red {
  font-weight: bold;
  font-size: 20px;
  color: #ff5050; }

/*------------------Virtual Reality Medicine small quote------------------*/
.vr-quotes {
  color: #6699ff; }

.vr-quote q:before {
  color: #060155; }

.vr-quote q:after {
  color: #060155; }

.cite-blue {
  font-weight: bold;
  font-size: 20px;
  color: #060155; }

/*------------------Opioid Images------------------*/
.money-pill-i {
  width: 460px;
  height: 200px; }

.max-width {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 10%; }

/*------------------Virtual Reality Images------------------*/
.dolphin-img {
  width: 570px;
  height: 400px;
  margin: 20% 0 20% 0; }

/*------------------Virtual Reality Medicine------------------*/
.vr-subheadings {
  font-size: 23px;
  color: #6699ff;
  margin: 10px 0px 10px; }

.opioids-h4 {
  font-size: 30px;
  margin: 0 0 -30px 0;
  color: #55010C;
  margin-bottom: 10px; }

.vr-h4 {
  font-size: 30px;
  margin: 0 0 -30px 0;
  color: #060155;
  margin-bottom: 10px; }
